.sidebarText {
    font-family: var(--font);
    font-size: 13px;
}

.userBackground {
    position: absolute;
    width: calc(100vw - 220px);
    height: 100vh;
    left: 240px;
    /* background: rgba(0,0,0,0.5); */
}

.userHeader {
    position: absolute;
    left: 3.5%;
    top: 11px;
    font-size: 30px;
    font-family: var(--font);
    padding: 0.5%;
    /* background: rgba(0,0,0,0.5); */
}

.headerUI {
    border: none;
    outline: none;
    border-radius: 0;

    position: absolute;
    left: 0%;
    top: 3.5%;
    font-size: 30px;
    font-family: var(--font);
    padding: 0.5%;
    /* height: 30px; */
    width: 100%;
    height: 100%;
    /* background: rgba(0,0,0,0.5); */
}

.filesBackground {
    /* background: rgba(0,0,0,0.5); */
    position: absolute;
    top: 130px;
    width: 92%;
    left: 3.5%;
    height: 10%;
}

.newFolder {
    padding: 0;
    outline: none;
    border: none;

    position: absolute;
    height: 30px;
    width: 120px;
    background: rgb(17,37,126);
    color: white;
    font-family: var(--font);
    font-size: 15px;
    left: 3.9%;
    top: 107px;
    cursor: pointer;
    transition: 0.3s;
}

.newFolder:hover {
    background: rgb(86, 97, 146);
    transition: 0.3s;
}

.uploadFile {
    padding: 0;
    outline: none;
    border: none;

    position: absolute;
    height: 30px;
    width: 100px;
    background: rgb(218, 218, 218);
    color: black;
    font-family: var(--font);
    font-size: 15px;
    left: calc(4.5% + 120px);
    top: 107px;
    cursor: pointer;
    transition: 0.3s;
}

.uploadFile:hover {
    background: rgb(194, 194, 194);
    transition: 0.3s;
}

.popupContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.8);
}

.popupInnerContainer {
    position: fixed;
    width: 600px;
    height: 60%;
    left: 50%;
    top: 40%;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    background: white;
}

.popupHeader {
    position: absolute;
    /* height: 10%; */
    top: 5%;
    /* background: rgba(0,0,0,0.5); */
    left: 5%;
    font-size: 20px;
    font-family: var(--font);
}

.popupEntryHeader {
    position: absolute;
    /* height: 10%; */
    top: 22%;
    /* background: rgba(0,0,0,0.5); */
    left: 5%;
    font-size: 15px;
    color: rgb(167, 167, 167);
    font-family: var(--font);
}

.popupEntryHeaderPassword {
    position: absolute;
    /* height: 10%; */
    top: 52%;
    /* background: rgba(0,0,0,0.5); */
    left: 5%;
    font-size: 15px;
    color: rgb(167, 167, 167);
    font-family: var(--font);
}

.popupEntryInput {
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    height: 10%;
    top: 38%;
    /* background: rgba(0,0,0,0.5); */
    left: 5%;
    width: 90%;
    padding: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
    font-family: var(--font);
}

.popupEntryInputPassword {
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    height: 10%;
    top: 68%;
    /* background: rgba(0,0,0,0.5); */
    left: 5%;
    width: 90%;
    padding: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
    font-family: var(--font);
}

.popupBottom {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: rgba(206, 206, 206, 0.5);
    border-top: 1px solid rgb(121, 121, 121);
    border-radius: 0px 0px 5px 5px;
}

.popupConfirm {
    border: none;
    padding: 0;
    outline: none;

    position: absolute;
    height: 60%;
    bottom: 20%;
    right: 2%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-family: var(--font);
    width: 20%;
    background:rgb(17,37,126);
    transition: 0.3s;
    cursor: pointer;
}

.popupConfirm:hover {
    background: rgb(86, 97, 146);
    transition: 0.3s;
}

.popupCancel {
    border: none;
    padding: 0;
    outline: none;

    position: absolute;
    height: 60%;
    bottom: 20%;
    right: 24%;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-family: var(--font);
    width: 20%;
    background:white;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.5);
}

.popupCancel:hover {
    background: rgb(231, 231, 231);
    transition: 0.3s;
}

.popupError {
    position: absolute;
    /* height: 10%; */
    top: 55%;
    /* background: rgba(0,0,0,0.5); */
    left: 5%;
    font-size: 12px;
    color: red;
    font-family: var(--font);
}

.inputRoot {
    color: 'inherit',
}

.appBar {
    width: calc(100%-var(--drawerWidth));
    margin-left: var(--drawerWidth);
    position:'fixed';
}

.search {
    padding-left: var(--drawerWidth);
    position: relative;
    border-radius: 5px;
    background-color: fade(white, 0.15);
    margin-left: 0;
    width: 100%;
}

.search:hover {
    background-color: fade(white, 0.25);
}

.searchIcon {
    padding-left: 2;
    padding-right: 2;
    height: '100%';
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

.inputInput {
    padding-left: 10px;
}

.drawer{
    width:var(--drawerWidth)
}

.drawerPaper{
    width: var(--drawerWidth);
}